<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Toogl free users reports</title>
    <%= css :application %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <%= js :application %>
</head>
<body class="report" >
  <div class="container">
    <div class="row">
      <%= erb :navbar %>
      <div class="col s7 push-s3 section">  
        <form action="/report/date" method="post">  
          <div>
            <div class="form-group datefield">
              <label>From</label>
              <input type="text" class="datepicker1" name="start_date" value="<%= @default_time['start'] %>" >
            </div>
            <div class="form-group datefield">
              <label>To</label>
              <input type="text" class="datepicker2" name="end_date" value="<%= @default_time['end'] %>">
            </div>
          </div>
          <div class="form-group">
            <select>
              <option value="description">Description</options>
              <option value="tag">Tag</options>
            </select>
          </div>
          <br>
          <div class="input-field selectproject">
            <select name="project" style="display: inherit;" class="">
              <% @projects.each do | key, value| %>
                <option value="<%= key %>"> <%= value%>  </option> 
              <% end %>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="s8 push-s2 reportbox col section">
        <% if @time_entries %>
          <h4>Reports from <%= @default_time['start'] %> to <%= @default_time['end'] %></h4>
        
          <table class="responsive-table highlight bordered">
            <thead>
              <tr>
                <th data-field="task">Task</th><th data-field="time">Time</th>
              </tr>
            </thead>
            <tbody>
            <% @time_entries.each do | key, value | %>
              <tr>
                <td> <%= key %> </dt> <dd data-time="<%= value %>"></td><td><%= Time.at(value).utc.strftime("%H:%M:%S") %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>      
    </div>
  </div>
<script>

  $('.datepicker1').pickadate({
  firstDay: 1,
  formatSubmit: 'yyyy-mm-dd',
  });
$('.datepicker2').pickadate({
  firstDay: 1,
  formatSubmit: 'yyyy-mm-dd',
});
</script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>
